This is the data wranging on the following two data files:
properties_2016.csv
train_2016_v2.csv

The objective is to eliminate NaN values which affect prediction as much as possible.

Import necessary libraries

In [1]:
import numpy as np
import pandas as pd

Import CSV data 2016 property file to dataframe "property2016_df".  The following warning occurs:

DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Need to configure the dtype dictionary parameter for the following fields:

hashottuborspa (Column 22) - The data file use TRUE / FALSE so it is a boolean.
propertycountylandusecode (Column 32) - String type containing alphanumeric.
propertyzoningdesc (Column 34) - String type containing alphanumeric.
fireplaceflag (Column 49) - Should be boolean TRUE / FALSE but the file uses "Y" / "N".  Will handle later.  Now set as string type first.
taxdelinquencyflag (Column 55) - Should be boolean TRUE / FALSE but the file uses "Y" / "N".  Will handle later.  Now set as string type first.

In [2]:
property2016_df = pd.read_csv('./data/properties_2016.csv', dtype={'hashottuborspa':bool,'propertycountylandusecode':str,'propertyzoningdesc':str,'fireplaceflag':str,'taxdelinquencyflag':str, 'censustractandblock':str,'rawcensustractandblock':str})

There are 2985217 rows and 58 columns in property2016_df.

Diplay the first 20 rows in property2016 dataframe.  You can observe some columns contain a lot of NaN fields.  This will be handled later.

In [3]:
property2016_df.shape

(2985217, 58)

In [4]:
property2016_df.columns

Index(['parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock'],
      dtype='object')

In [5]:
property2016_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2985217 entries, 0 to 2985216
Data columns (total 58 columns):
parcelid                        int64
airconditioningtypeid           float64
architecturalstyletypeid        float64
basementsqft                    float64
bathroomcnt                     float64
bedroomcnt                      float64
buildingclasstypeid             float64
buildingqualitytypeid           float64
calculatedbathnbr               float64
decktypeid                      float64
finishedfloor1squarefeet        float64
calculatedfinishedsquarefeet    float64
finishedsquarefeet12            float64
finishedsquarefeet13            float64
finishedsquarefeet15            float64
finishedsquarefeet50            float64
finishedsquarefeet6             float64
fips                            float64
fireplacecnt                    float64
fullbathcnt                     float64
garagecarcnt                    float64
garagetotalsqft                 float64
hashottuborspa                  object
heatingorsystemtypeid           float64
latitude                        float64
longitude                       float64
lotsizesquarefeet               float64
poolcnt                         float64
poolsizesum                     float64
pooltypeid10                    float64
pooltypeid2                     float64
pooltypeid7                     float64
propertycountylandusecode       object
propertylandusetypeid           float64
propertyzoningdesc              object
rawcensustractandblock          object
regionidcity                    float64
regionidcounty                  float64
regionidneighborhood            float64
regionidzip                     float64
roomcnt                         float64
storytypeid                     float64
threequarterbathnbr             float64
typeconstructiontypeid          float64
unitcnt                         float64
yardbuildingsqft17              float64
yardbuildingsqft26              float64
yearbuilt                       float64
numberofstories                 float64
fireplaceflag                   object
structuretaxvaluedollarcnt      float64
taxvaluedollarcnt               float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
taxdelinquencyflag              object
taxdelinquencyyear              float64
censustractandblock             object
dtypes: float64(50), int64(1), object(7)
memory usage: 1.3+ GB

In [6]:
property2016_df.head(20)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN
5,10898347,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,1.0,NaN,176383.0,283315.0,2015.0,106932.0,3661.28,NaN,NaN,NaN
6,10933547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,397945.0,554573.0,2015.0,156628.0,6773.34,NaN,NaN,NaN
7,10940747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,1.0,NaN,101998.0,688486.0,2015.0,586488.0,7857.84,NaN,NaN,NaN
8,10954547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
9,10976347,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,218440.0,261201.0,2015.0,42761.0,4054.76,NaN,NaN,NaN
10,11073947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,245834.0,430208.0,2015.0,184374.0,6014.18,NaN,NaN,NaN
11,11114347,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
12,11116947,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,171200.0,2015.0,171200.0,4690.68,NaN,NaN,NaN
13,11142747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4265.0,2015.0,4265.0,NaN,NaN,NaN,NaN
14,11193347,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.0,2015.0,10.0,NaN,NaN,NaN,NaN
15,11215747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.0,2015.0,10.0,NaN,NaN,NaN,NaN
16,11229347,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2077.0,2015.0,2077.0,174.21,NaN,NaN,NaN
17,11287347,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,NaN,NaN,32654.0,62424.0,2015.0,29770.0,2330.24,NaN,NaN,NaN
18,11288547,NaN,NaN,NaN,0.0,0.0,NaN,7.0,NaN,NaN,...,NaN,NaN,56736.0,102385.0,2015.0,45649.0,4162.56,NaN,NaN,NaN
19,11324547,1.0,NaN,NaN,2.0,4.0,NaN,4.0,2.0,NaN,...,NaN,NaN,218982.0,291973.0,2015.0,72991.0,6941.39,NaN,NaN,NaN

The training data set could be imported to dataframe successfully without any warning.  Treat "transactiondate" column as a date/time field.

In [7]:
train2016_df = pd.read_csv('./data/train_2016_v2.csv', parse_dates=["transactiondate"])

In [8]:
train2016_df.shape

(90275, 3)

In [9]:
train2016_df.head(10)

   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01
3  12643413    0.0218      2016-01-02
4  14432541   -0.0050      2016-01-02
5  11509835   -0.2705      2016-01-02
6  12286022    0.0440      2016-01-02
7  17177301    0.1638      2016-01-02
8  14739064   -0.0030      2016-01-02
9  14677559    0.0843      2016-01-03

In [10]:
train2016_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90275 entries, 0 to 90274
Data columns (total 3 columns):
parcelid           90275 non-null int64
logerror           90275 non-null float64
transactiondate    90275 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 2.1 MB

In [11]:
len(property2016_df['parcelid'].unique())

2985217

In [12]:
len(train2016_df['parcelid'].unique())

90150

In [13]:
fullset2016_df = train2016_df.merge(property2016_df, on='parcelid', how='left')

In [14]:
fullset2016_df.shape

(90275, 60)

In [15]:
fullset2016_df.head(20)

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,NaN,NaN,2.0,3.0,NaN,4.0,...,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.88,NaN,NaN,60371066461001
1,14366692,-0.1684,2016-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,...,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.02,NaN,NaN,NaN
2,12098116,-0.0040,2016-01-01,1.0,NaN,NaN,3.0,2.0,NaN,4.0,...,NaN,NaN,61994.0,119906.0,2015.0,57912.0,11484.48,NaN,NaN,60374638003004
3,12643413,0.0218,2016-01-02,1.0,NaN,NaN,2.0,2.0,NaN,4.0,...,NaN,NaN,171518.0,244880.0,2015.0,73362.0,3048.74,NaN,NaN,60372963002002
4,14432541,-0.0050,2016-01-02,NaN,NaN,NaN,2.5,4.0,NaN,NaN,...,2.0,NaN,169574.0,434551.0,2015.0,264977.0,5488.96,NaN,NaN,60590423381006
5,11509835,-0.2705,2016-01-02,1.0,NaN,NaN,4.0,4.0,NaN,1.0,...,NaN,NaN,880650.0,2447951.0,2015.0,1567301.0,27126.57,NaN,NaN,60376210044006
6,12286022,0.0440,2016-01-02,NaN,NaN,NaN,1.0,2.0,NaN,7.0,...,NaN,NaN,64549.0,111521.0,2015.0,46972.0,2304.97,NaN,NaN,60375416053007
7,17177301,0.1638,2016-01-02,NaN,NaN,NaN,2.5,3.0,NaN,NaN,...,2.0,NaN,107000.0,306000.0,2015.0,199000.0,3745.50,NaN,NaN,61110031002073
8,14739064,-0.0030,2016-01-02,NaN,NaN,NaN,1.0,2.0,NaN,NaN,...,NaN,NaN,66834.0,210064.0,2015.0,143230.0,2172.88,NaN,NaN,60590423151018
9,14677559,0.0843,2016-01-03,NaN,NaN,NaN,2.0,2.0,NaN,NaN,...,1.0,NaN,109977.0,190960.0,2015.0,80983.0,1940.26,NaN,NaN,60590626483015
10,10854446,0.3825,2016-01-03,NaN,NaN,NaN,2.0,2.0,NaN,7.0,...,NaN,NaN,55396.0,105954.0,2015.0,50558.0,1443.69,NaN,NaN,60371414003003
11,11672170,-0.0161,2016-01-03,1.0,NaN,NaN,4.0,5.0,NaN,1.0,...,NaN,NaN,559040.0,1090127.0,2015.0,531087.0,13428.94,NaN,NaN,60372626011017
12,10949761,0.0344,2016-01-03,NaN,NaN,NaN,2.0,3.0,NaN,7.0,...,NaN,NaN,29551.0,70119.0,2015.0,40568.0,832.35,NaN,NaN,60373110001009
13,14665244,0.0816,2016-01-03,NaN,NaN,NaN,2.0,2.0,NaN,NaN,...,NaN,NaN,398747.0,601000.0,2015.0,202253.0,6876.70,NaN,NaN,60590626102096
14,14148540,-0.0450,2016-01-03,NaN,NaN,NaN,2.0,2.0,NaN,NaN,...,1.0,NaN,78565.0,254817.0,2015.0,176252.0,3192.28,NaN,NaN,60590015031046
15,14057104,0.0020,2016-01-03,5.0,NaN,NaN,2.0,3.0,NaN,NaN,...,1.0,NaN,89850.0,345023.0,2015.0,255173.0,4036.32,NaN,NaN,60590992162013
16,17296797,0.0440,2016-01-03,NaN,NaN,NaN,2.5,3.0,NaN,NaN,...,2.0,NaN,168000.0,480000.0,2015.0,312000.0,6383.74,NaN,NaN,61110074052001
17,12524288,-0.0419,2016-01-03,NaN,NaN,NaN,1.0,1.0,NaN,7.0,...,NaN,NaN,56233.0,70316.0,2015.0,14083.0,913.17,NaN,NaN,60375748002004
18,14091502,-0.0020,2016-01-03,NaN,NaN,NaN,2.0,3.0,NaN,NaN,...,1.0,NaN,75119.0,253138.0,2015.0,178019.0,3329.14,NaN,NaN,60590999021008
19,10815909,0.0100,2016-01-03,1.0,NaN,NaN,3.0,3.0,NaN,4.0,...,NaN,NaN,108985.0,416279.0,2015.0,307294.0,5194.00,NaN,NaN,60371395021007

In [16]:
fullset2016_df.shape[0]

90275

In [17]:
column_analysis_df = pd.concat([100*(fullset2016_df.isnull().sum(axis=0)/fullset2016_df.shape[0]), fullset2016_df.dtypes], axis=1).reset_index()

In [18]:
column_analysis_df.columns = ['Column_name', 'Percentage_of_NaN', 'Column_Type']

In [19]:
column_analysis_df = column_analysis_df.set_index('Column_name').sort_values('Percentage_of_NaN', ascending=False)

We investigate the columns one by one to observe any redundancy.  First on below 6 columns, according to the data definition, they have the same meaning - information on the total area / perimeter of the living area.

'calculatedfinishedsquarefeet': Calculated total finished living area of the home 

'finishedsquarefeet6': Base unfinished and finished area

'finishedsquarefeet12': Finished living area

'finishedsquarefeet13': Perimeter living area

'finishedsquarefeet15': Total area

'finishedsquarefeet50': Size of the finished living area on the first (entry) floor of the home

Extract the percentage of NaN for these 6 columns.  We conclude that the most frequent data 'calculatedfinishedsquarefeet' should be retained.

In [20]:
column_analysis_df.loc[['calculatedfinishedsquarefeet','finishedsquarefeet12','finishedsquarefeet13', 'finishedsquarefeet15','finishedsquarefeet6','finishedsquarefeet50'],:]

                              Percentage_of_NaN Column_Type
Column_name
calculatedfinishedsquarefeet           0.732207     float64
finishedsquarefeet12                   5.183052     float64
finishedsquarefeet13                  99.963445     float64
finishedsquarefeet15                  96.052063     float64
finishedsquarefeet6                   99.533647     float64
finishedsquarefeet50                  92.405428     float64

Create a list of columns to be deleted.  First add the above 5 columns "finishedsquarefeet*"

In [21]:
columns_to_delete = ['finishedsquarefeet12','finishedsquarefeet13', 'finishedsquarefeet15','finishedsquarefeet6','finishedsquarefeet50']

Another 3 columns about bathrooms, according to the data dictionary, they are also in duplicate.

'bathroomcnt': Number of bathrooms in home including fractional bathrooms

'calculatedbathnbr': Number of bathrooms in home including fractional bathroom

'fullbathcnt': Number of full bathrooms (sink, shower + bathtub, and toilet) present in home

Observe that all values in 'boathroomcnt' are not null and these 3 parameters are highly correlated > 0.98, so retain 'boathroomcnt'.

In [22]:
column_analysis_df.loc[['bathroomcnt', 'calculatedbathnbr', 'fullbathcnt'],:]

                   Percentage_of_NaN Column_Type
Column_name
bathroomcnt                 0.000000     float64
calculatedbathnbr           1.309333     float64
fullbathcnt                 1.309333     float64

In [23]:
fullset2016_df[['bathroomcnt', 'calculatedbathnbr', 'fullbathcnt']].corr()

                   bathroomcnt  calculatedbathnbr  fullbathcnt
bathroomcnt            1.00000            1.00000      0.98413
calculatedbathnbr      1.00000            1.00000      0.98413
fullbathcnt            0.98413            0.98413      1.00000

In [24]:
columns_to_delete.append('calculatedbathnbr')
columns_to_delete.append('fullbathcnt')

In [25]:
columns_to_delete

['finishedsquarefeet12',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet6',
 'finishedsquarefeet50',
 'calculatedbathnbr',
 'fullbathcnt']

The 3 columns 'fireplaceflag', 'hashottuborspa' and 'taxdelinquencyflag' should be set as boolean type.

In [26]:
fullset2016_df.loc[fullset2016_df['fireplaceflag']=="true",'fireplaceflag'] = True

In [27]:
fullset2016_df['fireplaceflag'].fillna(False)

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27        True
28       False
29       False
         ...
90245    False
90246    False
90247    False
90248    False
90249    False
90250    False
90251    False
90252    False
90253    False
90254    False
90255    False
90256    False
90257    False
90258    False
90259    False
90260    False
90261    False
90262    False
90263    False
90264    False
90265    False
90266    False
90267    False
90268    False
90269    False
90270    False
90271    False
90272    False
90273    False
90274    False
Name: fireplaceflag, Length: 90275, dtype: bool

In [28]:
fullset2016_df['hashottuborspa'].fillna(False)

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23        True
24       False
25       False
26       False
27       False
28       False
29       False
         ...
90245    False
90246    False
90247    False
90248    False
90249    False
90250    False
90251    False
90252    False
90253    False
90254    False
90255    False
90256    False
90257    False
90258    False
90259    False
90260    False
90261    False
90262    False
90263    False
90264    False
90265    False
90266    False
90267    False
90268    False
90269    False
90270    False
90271    False
90272    False
90273    False
90274    False
Name: hashottuborspa, Length: 90275, dtype: bool

In [29]:
fullset2016_df['taxdelinquencyflag']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
90245    NaN
90246    NaN
90247    NaN
90248    NaN
90249    NaN
90250    NaN
90251    NaN
90252    NaN
90253      Y
90254    NaN
90255    NaN
90256    NaN
90257    NaN
90258    NaN
90259    NaN
90260    NaN
90261    NaN
90262    NaN
90263    NaN
90264    NaN
90265    NaN
90266    NaN
90267    NaN
90268    NaN
90269    NaN
90270    NaN
90271    NaN
90272      Y
90273    NaN
90274    NaN
Name: taxdelinquencyflag, Length: 90275, dtype: object

In [30]:
fullset2016_df.loc[fullset2016_df['taxdelinquencyflag']=="Y",'taxdelinquencyflag'] = True

In [31]:
fullset2016_df['taxdelinquencyflag'].fillna(False).astype(bool)

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
90245    False
90246    False
90247    False
90248    False
90249    False
90250    False
90251    False
90252    False
90253     True
90254    False
90255    False
90256    False
90257    False
90258    False
90259    False
90260    False
90261    False
90262    False
90263    False
90264    False
90265    False
90266    False
90267    False
90268    False
90269    False
90270    False
90271    False
90272     True
90273    False
90274    False
Name: taxdelinquencyflag, Length: 90275, dtype: bool

Check that 38303 transactions are with heat system id 2 - Central.  Replace the NaN to 2.

In [32]:
print(fullset2016_df['heatingorsystemtypeid'].value_counts())

2.0     38303
7.0     15519
24.0     1071
6.0       970
20.0       97
13.0       76
18.0       25
1.0        13
14.0        2
10.0        2
11.0        1
12.0        1
Name: heatingorsystemtypeid, dtype: int64

In [33]:
fullset2016_df.loc[fullset2016_df.heatingorsystemtypeid.isnull(),'heatingorsystemtypeid'] = 2

The number of garages and total garage area are related.

'garagecarcnt'	 Total number of garages on the lot including an attached garage
'garagetotalsqft'	 Total number of square feet of all garages on lot including an attached garage

Treat the NaN values of these 2 parameters as 0 meaning no garage and of course garage area is 0.

In [34]:
print(fullset2016_df.garagecarcnt.isnull().sum())
print(fullset2016_df.garagetotalsqft.isnull().sum())

60338
60338

In [35]:
fullset2016_df.loc[fullset2016_df.garagecarcnt.isnull(),'garagecarcnt'] = 0

In [36]:
fullset2016_df.loc[fullset2016_df.garagetotalsqft.isnull(),'garagetotalsqft'] = 0

Check that 26668 transactions are with air-conditioning id 1 - Central. Replace the NaN to 1.

In [37]:
fullset2016_df['airconditioningtypeid'].value_counts()

1.0     26668
13.0     1833
5.0       215
11.0       63
9.0         1
3.0         1
Name: airconditioningtypeid, dtype: int64

In [38]:
fullset2016_df.loc[fullset2016_df.airconditioningtypeid.isnull(),'airconditioningtypeid'] = 1

'poolcnt' Number of pools on the lot (if any) - Set NaN to 0 meaning no pool in that property.

'poolsizesum' Total square footage of all pools on property.  Set to 0 on pool area if no pool in that property.  Set the NaN value of pool area to the mean of this column.

In [39]:
fullset2016_df.loc[fullset2016_df.poolcnt.isnull(),'poolcnt'] = 0

In [40]:
fullset2016_df.loc[(fullset2016_df['poolcnt'] == 0), 'poolsizesum'] = 0

In [41]:
poolsize_mean = fullset2016_df.loc[fullset2016_df['poolcnt'] > 0, 'poolsizesum'].mean()

In [42]:
fullset2016_df.loc[(fullset2016_df['poolcnt'] > 0) & (fullset2016_df['poolsizesum'].isnull()), 'poolsizesum'] = poolsize_mean

In [43]:
columns_to_delete.append('pooltypeid10')

'taxvaluedollarcnt'	The total tax assessed value of the parcel

'structuretaxvaluedollarcnt'	The assessed value of the built structure on the parcel

'landtaxvaluedollarcnt'	The assessed value of the land area of the parcel

Mark the NaN fiels in columns 'taxvaluedollarcnt' and 'landtaxvaluedollarcnt' as 0.  Can observe that structuretaxvaluedollarcnt = taxvaluedollarcnt - landtaxvaluedollarcnt.  Column 'structuretaxvaluedollarcnt' can be deleted because its values can be derived from other columns.

In [44]:
fullset2016_df.loc[fullset2016_df.taxvaluedollarcnt.isnull(),'taxvaluedollarcnt'] = 0

In [45]:
fullset2016_df.loc[fullset2016_df.landtaxvaluedollarcnt.isnull(),'landtaxvaluedollarcnt'] = 0

In [46]:
fullset2016_df.loc[fullset2016_df.structuretaxvaluedollarcnt.isnull(),'structuretaxvaluedollarcnt'] = 0

Below is to prove that all columns of structuretaxvaluedollarcnt follows structuretaxvaluedollarcnt = taxvaluedollarcnt - landtaxvaluedollarcnt

In [47]:
import collections

In [48]:
collections.Counter(list(fullset2016_df.structuretaxvaluedollarcnt - (fullset2016_df.taxvaluedollarcnt - fullset2016_df.landtaxvaluedollarcnt)))

Counter({0.0: 90275})

In [49]:
columns_to_delete.append('structuretaxvaluedollarcnt')

'fireplacecnt':	 Number of fireplaces in a home (if any)
Assume no fire place for those NaN values.

'taxamount'	The total property tax assessed for that assessment year.  Assume 0 for NaN values meaning no tax amount was assessed.

'pooltypeid7'  Pool without hot tub.  Assume 0 for NaN values meaning pool with spa/hot tub

'regionidneighborhood' Neighborhood in which the property is located.  Assume 0 for no neighborhood in that property.

In [50]:
fullset2016_df.loc[fullset2016_df.fireplacecnt.isnull(),'fireplacecnt'] = 0

In [51]:
fullset2016_df.loc[fullset2016_df.taxamount.isnull(),'taxamount'] = 0

In [52]:
fullset2016_df.loc[fullset2016_df.pooltypeid7.isnull(),'pooltypeid7'] = 0

In [53]:
fullset2016_df.loc[fullset2016_df.regionidneighborhood.isnull(),'regionidneighborhood'] = 0

Check on 'propertycountylandusecode' column with 1 NaN value.

'propertycountylandusecode'	 County land use code i.e. it's zoning at the county level.  It is related to 'longitude' and 'latitude' and 'regionidzip'

In [54]:
fullset2016_df['propertycountylandusecode'].isnull().values.sum()

1

In [55]:
fullset2016_df.loc[fullset2016_df['propertycountylandusecode'].isnull(), ['longitude','latitude','propertycountylandusecode','regionidzip']]

         longitude    latitude propertycountylandusecode  regionidzip
68412 -118068371.0  33939933.0                       NaN      96201.0

Another row with the same values of longitude, latitude and regionidzip.  So assign the same propertycountylandusecode to this NaN value.

In [56]:
fullset2016_df.loc[fullset2016_df['longitude']==-118068371, ['longitude','latitude','propertycountylandusecode','regionidzip']]

         longitude    latitude propertycountylandusecode  regionidzip
32470 -118068371.0  33939933.0                      010C      96201.0
68412 -118068371.0  33939933.0                       NaN      96201.0

In [57]:
fullset2016_df.loc[fullset2016_df.propertycountylandusecode.isnull(),'propertycountylandusecode'] = '010C'

Now deal with measurable numeric columns: 'finishedfloor1squarefeet', 'threequarterbathnbr', 'numberofstories', 'unitcnt', 'lotsizesquarefeet', 'yearbuilt', 'calculatedfinishedsquarefeet', 'buildingqualitytypeid'.  The aim is to fill in the NaN values with its median value.

In [58]:
for item in ['finishedfloor1squarefeet', 'threequarterbathnbr', 'numberofstories', 'unitcnt', 'lotsizesquarefeet', 'yearbuilt', 'calculatedfinishedsquarefeet', 'buildingqualitytypeid']:
    fullset2016_df.loc[fullset2016_df[item].isnull(),item] = int(fullset2016_df[item].median())

'rawcensustractandblock'	 Census tract and block ID combined - also contains blockgroup assignment by extension
'censustractandblock'	 Census tract and block ID combined - also contains blockgroup assignment by extension

These two columns represent the same meaning.  Finally to retain censustractandblock and copy the values from rawcensustractandblock

In [59]:
for index, row in fullset2016_df.iterrows():
    if len(row.rawcensustractandblock) == 16:
        fullset2016_df.set_value(index, 'censustractandblock',row.rawcensustractandblock[1:9] + row.rawcensustractandblock[10:])
    else:
        fullset2016_df.set_value(index, 'censustractandblock',row.rawcensustractandblock[1:9] + row.rawcensustractandblock[10:] + '000')

In [60]:
columns_to_delete.append('rawcensustractandblock')

'regionidcity'	 City in which the property is located (if any)
'regionidzip'	 Zip code in which the property is located

These two columns could be deduced from longitude and latitude.  Sort the columns by longitude and latitude and then forward fill those NaN values.

In [61]:
fullset2016_df[['regionidzip','regionidcity']] = fullset2016_df.sort_values(['longitude','latitude'])[['regionidzip','regionidcity']].fillna(method='ffill').sort_index()

'propertyzoningdesc'	 Description of the allowed land uses (zoning) for that property

This could not be deduced from any other columns.  Assume those NaN values are the most common value 'LAR1'.

In [62]:
collections.Counter(list(fullset2016_df['propertyzoningdesc'])).most_common(10)

[(nan, 31962),
 ('LAR1', 7678),
 ('LAR3', 2801),
 ('LARS', 1503),
 ('LBR1N', 1459),
 ('LARD1.5', 1305),
 ('LAR2', 1287),
 ('SCUR2', 1104),
 ('LARD2', 963),
 ('LARA', 851)]

In [63]:
fullset2016_df['propertyzoningdesc'].fillna('LAR1', inplace=True)

Now check the colmuns of full data set to see the % of NaN. Delete the columns with higher than 97% of NaN values

In [64]:
column_analysis_df = pd.concat([100*(fullset2016_df.isnull().sum(axis=0)/fullset2016_df.shape[0]), fullset2016_df.dtypes], axis=1).reset_index()
column_analysis_df.columns = ['Column_name', 'Percentage_of_NaN', 'Column_Type']
column_analysis_df = column_analysis_df.set_index('Column_name').sort_values('Percentage_of_NaN', ascending=False)

In [65]:
column_analysis_df

                              Percentage_of_NaN     Column_Type
Column_name
buildingclasstypeid                   99.982276         float64
finishedsquarefeet13                  99.963445         float64
storytypeid                           99.952368         float64
basementsqft                          99.952368         float64
yardbuildingsqft26                    99.894766         float64
fireplaceflag                         99.754085          object
architecturalstyletypeid              99.710883         float64
typeconstructiontypeid                99.668790         float64
finishedsquarefeet6                   99.533647         float64
decktypeid                            99.271116         float64
pooltypeid10                          98.713930         float64
pooltypeid2                           98.666297         float64
taxdelinquencyflag                    98.024924          object
taxdelinquencyyear                    98.024924         float64
hashottuborspa                        97.380227          object
yardbuildingsqft17                    97.068956         float64
finishedsquarefeet15                  96.052063         float64
finishedsquarefeet50                  92.405428         float64
finishedsquarefeet12                   5.183052         float64
calculatedbathnbr                      1.309333         float64
fullbathcnt                            1.309333         float64
regionidzip                            0.000000         float64
regionidneighborhood                   0.000000         float64
roomcnt                                0.000000         float64
regionidcounty                         0.000000         float64
threequarterbathnbr                    0.000000         float64
parcelid                               0.000000           int64
unitcnt                                0.000000         float64
yearbuilt                              0.000000         float64
numberofstories                        0.000000         float64
rawcensustractandblock                 0.000000          object
structuretaxvaluedollarcnt             0.000000         float64
taxvaluedollarcnt                      0.000000         float64
assessmentyear                         0.000000         float64
landtaxvaluedollarcnt                  0.000000         float64
taxamount                              0.000000         float64
regionidcity                           0.000000         float64
poolsizesum                            0.000000         float64
propertyzoningdesc                     0.000000          object
propertylandusetypeid                  0.000000         float64
transactiondate                        0.000000  datetime64[ns]
airconditioningtypeid                  0.000000         float64
bathroomcnt                            0.000000         float64
bedroomcnt                             0.000000         float64
buildingqualitytypeid                  0.000000         float64
finishedfloor1squarefeet               0.000000         float64
calculatedfinishedsquarefeet           0.000000         float64
fips                                   0.000000         float64
fireplacecnt                           0.000000         float64
garagecarcnt                           0.000000         float64
garagetotalsqft                        0.000000         float64
heatingorsystemtypeid                  0.000000         float64
latitude                               0.000000         float64
longitude                              0.000000         float64
lotsizesquarefeet                      0.000000         float64
poolcnt                                0.000000         float64
logerror                               0.000000         float64
pooltypeid7                            0.000000         float64
propertycountylandusecode              0.000000          object
censustractandblock                    0.000000          object

Below are the columns with NaN % greater than 97% which will be deleted.

In [66]:
columns_to_delete.append('buildingclasstypeid')
columns_to_delete.append('basementsqft')
columns_to_delete.append('storytypeid')
columns_to_delete.append('yardbuildingsqft26')
columns_to_delete.append('fireplaceflag')
columns_to_delete.append('architecturalstyletypeid')
columns_to_delete.append('typeconstructiontypeid')
columns_to_delete.append('decktypeid')
columns_to_delete.append('pooltypeid2')
columns_to_delete.append('taxdelinquencyflag')
columns_to_delete.append('taxdelinquencyyear')
columns_to_delete.append('hashottuborspa')
columns_to_delete.append('yardbuildingsqft17')

In [67]:
columns_to_delete

['finishedsquarefeet12',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet6',
 'finishedsquarefeet50',
 'calculatedbathnbr',
 'fullbathcnt',
 'pooltypeid10',
 'structuretaxvaluedollarcnt',
 'rawcensustractandblock',
 'buildingclasstypeid',
 'basementsqft',
 'storytypeid',
 'yardbuildingsqft26',
 'fireplaceflag',
 'architecturalstyletypeid',
 'typeconstructiontypeid',
 'decktypeid',
 'pooltypeid2',
 'taxdelinquencyflag',
 'taxdelinquencyyear',
 'hashottuborspa',
 'yardbuildingsqft17']

In [68]:
fullset2016_df = fullset2016_df.drop(columns_to_delete, 1)

Check the columns again.  All NaN % greater than 97% are deleted.

In [69]:
column_analysis_df = pd.concat([100*(fullset2016_df.isnull().sum(axis=0)/fullset2016_df.shape[0]), fullset2016_df.dtypes], axis=1).reset_index()
column_analysis_df.columns = ['Column_name', 'Percentage_of_NaN', 'Column_Type']
column_analysis_df = column_analysis_df.set_index('Column_name').sort_values('Percentage_of_NaN', ascending=False)

In [70]:
column_analysis_df

                              Percentage_of_NaN     Column_Type
Column_name
parcelid                                    0.0           int64
pooltypeid7                                 0.0         float64
propertylandusetypeid                       0.0         float64
propertyzoningdesc                          0.0          object
regionidcity                                0.0         float64
regionidcounty                              0.0         float64
regionidneighborhood                        0.0         float64
regionidzip                                 0.0         float64
roomcnt                                     0.0         float64
threequarterbathnbr                         0.0         float64
unitcnt                                     0.0         float64
yearbuilt                                   0.0         float64
numberofstories                             0.0         float64
taxvaluedollarcnt                           0.0         float64
assessmentyear                              0.0         float64
landtaxvaluedollarcnt                       0.0         float64
taxamount                                   0.0         float64
propertycountylandusecode                   0.0          object
poolsizesum                                 0.0         float64
logerror                                    0.0         float64
poolcnt                                     0.0         float64
transactiondate                             0.0  datetime64[ns]
airconditioningtypeid                       0.0         float64
bathroomcnt                                 0.0         float64
bedroomcnt                                  0.0         float64
buildingqualitytypeid                       0.0         float64
finishedfloor1squarefeet                    0.0         float64
calculatedfinishedsquarefeet                0.0         float64
fips                                        0.0         float64
fireplacecnt                                0.0         float64
garagecarcnt                                0.0         float64
garagetotalsqft                             0.0         float64
heatingorsystemtypeid                       0.0         float64
latitude                                    0.0         float64
longitude                                   0.0         float64
lotsizesquarefeet                           0.0         float64
censustractandblock                         0.0          object