This is the data wranging on the following two data files:
properties_2016.csv
train_2016_v2.csv

The objective is to eliminate NaN values which affect prediction as much as possible.

Import necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Import CSV data 2016 property file to dataframe "property2016_df".  The following warning occurs:

DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Need to configure the dtype dictionary parameter for the following fields:

hashottuborspa (Column 22) - The data file use TRUE / FALSE so it is a boolean.
propertycountylandusecode (Column 32) - String type containing alphanumeric.
propertyzoningdesc (Column 34) - String type containing alphanumeric.
fireplaceflag (Column 49) - Should be boolean TRUE / FALSE but the file uses "Y" / "N".  Will handle later.  Now set as string type first.
taxdelinquencyflag (Column 55) - Should be boolean TRUE / FALSE but the file uses "Y" / "N".  Will handle later.  Now set as string type first.

In [2]:
property2016_df = pd.read_csv('./data/properties_2016.csv', dtype={'hashottuborspa':bool,'propertycountylandusecode':str,'propertyzoningdesc':str,'fireplaceflag':str,'taxdelinquencyflag':str, 'censustractandblock':str,'rawcensustractandblock':str})

There are 2985217 rows and 58 columns in property2016_df.

Diplay the first 20 rows in property2016 dataframe.  You can observe some columns contain a lot of NaN fields.  This will be handled later.

In [3]:
property2016_df.shape

(2985217, 58)

In [4]:
property2016_df.columns

Index(['parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock'],
      dtype='object')

In [5]:
property2016_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2985217 entries, 0 to 2985216
Data columns (total 58 columns):
parcelid                        int64
airconditioningtypeid           float64
architecturalstyletypeid        float64
basementsqft                    float64
bathroomcnt                     float64
bedroomcnt                      float64
buildingclasstypeid             float64
buildingqualitytypeid           float64
calculatedbathnbr               float64
decktypeid                      float64
finishedfloor1squarefeet        float64
calculatedfinishedsquarefeet    float64
finishedsquarefeet12            float64
finishedsquarefeet13            float64
finishedsquarefeet15            float64
finishedsquarefeet50            float64
finishedsquarefeet6             float64
fips                            float64
fireplacecnt                    float64
fullbathcnt                     float64
garagecarcnt                    float64
garagetotalsqft                 float64
hashottuborspa                  object
heatingorsystemtypeid           float64
latitude                        float64
longitude                       float64
lotsizesquarefeet               float64
poolcnt                         float64
poolsizesum                     float64
pooltypeid10                    float64
pooltypeid2                     float64
pooltypeid7                     float64
propertycountylandusecode       object
propertylandusetypeid           float64
propertyzoningdesc              object
rawcensustractandblock          object
regionidcity                    float64
regionidcounty                  float64
regionidneighborhood            float64
regionidzip                     float64
roomcnt                         float64
storytypeid                     float64
threequarterbathnbr             float64
typeconstructiontypeid          float64
unitcnt                         float64
yardbuildingsqft17              float64
yardbuildingsqft26              float64
yearbuilt                       float64
numberofstories                 float64
fireplaceflag                   object
structuretaxvaluedollarcnt      float64
taxvaluedollarcnt               float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
taxdelinquencyflag              object
taxdelinquencyyear              float64
censustractandblock             object
dtypes: float64(50), int64(1), object(7)
memory usage: 1.3+ GB

In [6]:
property2016_df.head(20)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN
5,10898347,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,1.0,NaN,176383.0,283315.0,2015.0,106932.0,3661.28,NaN,NaN,NaN
6,10933547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,397945.0,554573.0,2015.0,156628.0,6773.34,NaN,NaN,NaN
7,10940747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,1.0,NaN,101998.0,688486.0,2015.0,586488.0,7857.84,NaN,NaN,NaN
8,10954547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
9,10976347,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,218440.0,261201.0,2015.0,42761.0,4054.76,NaN,NaN,NaN
10,11073947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,245834.0,430208.0,2015.0,184374.0,6014.18,NaN,NaN,NaN
11,11114347,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
12,11116947,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,171200.0,2015.0,171200.0,4690.68,NaN,NaN,NaN
13,11142747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4265.0,2015.0,4265.0,NaN,NaN,NaN,NaN
14,11193347,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.0,2015.0,10.0,NaN,NaN,NaN,NaN
15,11215747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.0,2015.0,10.0,NaN,NaN,NaN,NaN
16,11229347,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2077.0,2015.0,2077.0,174.21,NaN,NaN,NaN
17,11287347,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,NaN,NaN,32654.0,62424.0,2015.0,29770.0,2330.24,NaN,NaN,NaN
18,11288547,NaN,NaN,NaN,0.0,0.0,NaN,7.0,NaN,NaN,...,NaN,NaN,56736.0,102385.0,2015.0,45649.0,4162.56,NaN,NaN,NaN
19,11324547,1.0,NaN,NaN,2.0,4.0,NaN,4.0,2.0,NaN,...,NaN,NaN,218982.0,291973.0,2015.0,72991.0,6941.39,NaN,NaN,NaN

The training data set could be imported to dataframe successfully without any warning.  Treat "transactiondate" column as a date/time field.

In [7]:
train2016_df = pd.read_csv('./data/train_2016_v2.csv', parse_dates=["transactiondate"])

In [8]:
train2016_df.shape

(90275, 3)

In [9]:
train2016_df.head(10)

   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01
3  12643413    0.0218      2016-01-02
4  14432541   -0.0050      2016-01-02
5  11509835   -0.2705      2016-01-02
6  12286022    0.0440      2016-01-02
7  17177301    0.1638      2016-01-02
8  14739064   -0.0030      2016-01-02
9  14677559    0.0843      2016-01-03

In [10]:
train2016_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90275 entries, 0 to 90274
Data columns (total 3 columns):
parcelid           90275 non-null int64
logerror           90275 non-null float64
transactiondate    90275 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 2.1 MB

In [11]:
len(property2016_df['parcelid'].unique())

2985217

In [12]:
len(train2016_df['parcelid'].unique())

90150

In [13]:
fullset2016_df = train2016_df.merge(property2016_df, on='parcelid', how='left')

In [14]:
fullset2016_df.shape

(90275, 60)

In [15]:
fullset2016_df.head(20)

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,NaN,NaN,2.0,3.0,NaN,4.0,...,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.88,NaN,NaN,60371066461001
1,14366692,-0.1684,2016-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,...,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.02,NaN,NaN,NaN
2,12098116,-0.0040,2016-01-01,1.0,NaN,NaN,3.0,2.0,NaN,4.0,...,NaN,NaN,61994.0,119906.0,2015.0,57912.0,11484.48,NaN,NaN,60374638003004
3,12643413,0.0218,2016-01-02,1.0,NaN,NaN,2.0,2.0,NaN,4.0,...,NaN,NaN,171518.0,244880.0,2015.0,73362.0,3048.74,NaN,NaN,60372963002002
4,14432541,-0.0050,2016-01-02,NaN,NaN,NaN,2.5,4.0,NaN,NaN,...,2.0,NaN,169574.0,434551.0,2015.0,264977.0,5488.96,NaN,NaN,60590423381006
5,11509835,-0.2705,2016-01-02,1.0,NaN,NaN,4.0,4.0,NaN,1.0,...,NaN,NaN,880650.0,2447951.0,2015.0,1567301.0,27126.57,NaN,NaN,60376210044006
6,12286022,0.0440,2016-01-02,NaN,NaN,NaN,1.0,2.0,NaN,7.0,...,NaN,NaN,64549.0,111521.0,2015.0,46972.0,2304.97,NaN,NaN,60375416053007
7,17177301,0.1638,2016-01-02,NaN,NaN,NaN,2.5,3.0,NaN,NaN,...,2.0,NaN,107000.0,306000.0,2015.0,199000.0,3745.50,NaN,NaN,61110031002073
8,14739064,-0.0030,2016-01-02,NaN,NaN,NaN,1.0,2.0,NaN,NaN,...,NaN,NaN,66834.0,210064.0,2015.0,143230.0,2172.88,NaN,NaN,60590423151018
9,14677559,0.0843,2016-01-03,NaN,NaN,NaN,2.0,2.0,NaN,NaN,...,1.0,NaN,109977.0,190960.0,2015.0,80983.0,1940.26,NaN,NaN,60590626483015
10,10854446,0.3825,2016-01-03,NaN,NaN,NaN,2.0,2.0,NaN,7.0,...,NaN,NaN,55396.0,105954.0,2015.0,50558.0,1443.69,NaN,NaN,60371414003003
11,11672170,-0.0161,2016-01-03,1.0,NaN,NaN,4.0,5.0,NaN,1.0,...,NaN,NaN,559040.0,1090127.0,2015.0,531087.0,13428.94,NaN,NaN,60372626011017
12,10949761,0.0344,2016-01-03,NaN,NaN,NaN,2.0,3.0,NaN,7.0,...,NaN,NaN,29551.0,70119.0,2015.0,40568.0,832.35,NaN,NaN,60373110001009
13,14665244,0.0816,2016-01-03,NaN,NaN,NaN,2.0,2.0,NaN,NaN,...,NaN,NaN,398747.0,601000.0,2015.0,202253.0,6876.70,NaN,NaN,60590626102096
14,14148540,-0.0450,2016-01-03,NaN,NaN,NaN,2.0,2.0,NaN,NaN,...,1.0,NaN,78565.0,254817.0,2015.0,176252.0,3192.28,NaN,NaN,60590015031046
15,14057104,0.0020,2016-01-03,5.0,NaN,NaN,2.0,3.0,NaN,NaN,...,1.0,NaN,89850.0,345023.0,2015.0,255173.0,4036.32,NaN,NaN,60590992162013
16,17296797,0.0440,2016-01-03,NaN,NaN,NaN,2.5,3.0,NaN,NaN,...,2.0,NaN,168000.0,480000.0,2015.0,312000.0,6383.74,NaN,NaN,61110074052001
17,12524288,-0.0419,2016-01-03,NaN,NaN,NaN,1.0,1.0,NaN,7.0,...,NaN,NaN,56233.0,70316.0,2015.0,14083.0,913.17,NaN,NaN,60375748002004
18,14091502,-0.0020,2016-01-03,NaN,NaN,NaN,2.0,3.0,NaN,NaN,...,1.0,NaN,75119.0,253138.0,2015.0,178019.0,3329.14,NaN,NaN,60590999021008
19,10815909,0.0100,2016-01-03,1.0,NaN,NaN,3.0,3.0,NaN,4.0,...,NaN,NaN,108985.0,416279.0,2015.0,307294.0,5194.00,NaN,NaN,60371395021007

In [16]:
fullset2016_df.shape[0]

90275

In [17]:
column_analysis_df = pd.concat([100*(fullset2016_df.isnull().sum(axis=0)/fullset2016_df.shape[0]), fullset2016_df.dtypes], axis=1).reset_index()

In [18]:
column_analysis_df.columns = ['Column_name', 'Percentage_of_NaN', 'Column_Type']

In [19]:
column_analysis_df = column_analysis_df.set_index('Column_name').sort_values('Percentage_of_NaN', ascending=False)

We investigate the columns one by one to observe any redundancy.  First on below 6 columns, according to the data definition, they have the same meaning - information on the total area / perimeter of the living area.

'calculatedfinishedsquarefeet': Calculated total finished living area of the home 

'finishedsquarefeet6': Base unfinished and finished area

'finishedsquarefeet12': Finished living area

'finishedsquarefeet13': Perimeter living area

'finishedsquarefeet15': Total area

'finishedsquarefeet50': Size of the finished living area on the first (entry) floor of the home

Extract the percentage of NaN for these 6 columns.  We conclude that the most frequent data 'calculatedfinishedsquarefeet' should be retained.

In [20]:
column_analysis_df.loc[['calculatedfinishedsquarefeet','finishedsquarefeet12','finishedsquarefeet13', 'finishedsquarefeet15','finishedsquarefeet6','finishedsquarefeet50'],:]

                              Percentage_of_NaN Column_Type
Column_name
calculatedfinishedsquarefeet           0.732207     float64
finishedsquarefeet12                   5.183052     float64
finishedsquarefeet13                  99.963445     float64
finishedsquarefeet15                  96.052063     float64
finishedsquarefeet6                   99.533647     float64
finishedsquarefeet50                  92.405428     float64

Create a list of columns to be deleted.  First add the above 5 columns "finishedsquarefeet*"

In [21]:
columns_to_delete = ['finishedsquarefeet12','finishedsquarefeet13', 'finishedsquarefeet15','finishedsquarefeet6','finishedsquarefeet50']

Another 3 columns about bathrooms, according to the data dictionary, they are also in duplicate.

'bathroomcnt': Number of bathrooms in home including fractional bathrooms

'calculatedbathnbr': Number of bathrooms in home including fractional bathroom

'fullbathcnt': Number of full bathrooms (sink, shower + bathtub, and toilet) present in home

Observe that all values in 'boathroomcnt' are not null and these 3 parameters are highly correlated > 0.98, so retain 'boathroomcnt'.

In [22]:
column_analysis_df.loc[['bathroomcnt', 'calculatedbathnbr', 'fullbathcnt'],:]

                   Percentage_of_NaN Column_Type
Column_name
bathroomcnt                 0.000000     float64
calculatedbathnbr           1.309333     float64
fullbathcnt                 1.309333     float64

In [23]:
fullset2016_df[['bathroomcnt', 'calculatedbathnbr', 'fullbathcnt']].corr()

                   bathroomcnt  calculatedbathnbr  fullbathcnt
bathroomcnt            1.00000            1.00000      0.98413
calculatedbathnbr      1.00000            1.00000      0.98413
fullbathcnt            0.98413            0.98413      1.00000

In [24]:
columns_to_delete.append('calculatedbathnbr')
columns_to_delete.append('fullbathcnt')

In [25]:
columns_to_delete

['finishedsquarefeet12',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet6',
 'finishedsquarefeet50',
 'calculatedbathnbr',
 'fullbathcnt']

The 3 columns 'fireplaceflag', 'hashottuborspa' and 'taxdelinquencyflag' should be set as boolean type.

In [26]:
fullset2016_df.loc[fullset2016_df['fireplaceflag']=="true",'fireplaceflag'] = True

In [27]:
fullset2016_df['fireplaceflag'].fillna(False)

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27        True
28       False
29       False
         ...
90245    False
90246    False
90247    False
90248    False
90249    False
90250    False
90251    False
90252    False
90253    False
90254    False
90255    False
90256    False
90257    False
90258    False
90259    False
90260    False
90261    False
90262    False
90263    False
90264    False
90265    False
90266    False
90267    False
90268    False
90269    False
90270    False
90271    False
90272    False
90273    False
90274    False
Name: fireplaceflag, Length: 90275, dtype: bool

In [28]:
fullset2016_df['hashottuborspa'].fillna(False)

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23        True
24       False
25       False
26       False
27       False
28       False
29       False
         ...
90245    False
90246    False
90247    False
90248    False
90249    False
90250    False
90251    False
90252    False
90253    False
90254    False
90255    False
90256    False
90257    False
90258    False
90259    False
90260    False
90261    False
90262    False
90263    False
90264    False
90265    False
90266    False
90267    False
90268    False
90269    False
90270    False
90271    False
90272    False
90273    False
90274    False
Name: hashottuborspa, Length: 90275, dtype: bool

In [29]:
fullset2016_df['taxdelinquencyflag']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
90245    NaN
90246    NaN
90247    NaN
90248    NaN
90249    NaN
90250    NaN
90251    NaN
90252    NaN
90253      Y
90254    NaN
90255    NaN
90256    NaN
90257    NaN
90258    NaN
90259    NaN
90260    NaN
90261    NaN
90262    NaN
90263    NaN
90264    NaN
90265    NaN
90266    NaN
90267    NaN
90268    NaN
90269    NaN
90270    NaN
90271    NaN
90272      Y
90273    NaN
90274    NaN
Name: taxdelinquencyflag, Length: 90275, dtype: object

In [30]:
fullset2016_df.loc[fullset2016_df['taxdelinquencyflag']=="Y",'taxdelinquencyflag'] = True

In [31]:
fullset2016_df['taxdelinquencyflag'].fillna(False).astype(bool)

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
90245    False
90246    False
90247    False
90248    False
90249    False
90250    False
90251    False
90252    False
90253     True
90254    False
90255    False
90256    False
90257    False
90258    False
90259    False
90260    False
90261    False
90262    False
90263    False
90264    False
90265    False
90266    False
90267    False
90268    False
90269    False
90270    False
90271    False
90272     True
90273    False
90274    False
Name: taxdelinquencyflag, Length: 90275, dtype: bool

Check that 38303 transactions are with heat system id 2 - Central.  Replace the NaN to 2.

In [32]:
print(fullset2016_df['heatingorsystemtypeid'].value_counts())

2.0     38303
7.0     15519
24.0     1071
6.0       970
20.0       97
13.0       76
18.0       25
1.0        13
14.0        2
10.0        2
11.0        1
12.0        1
Name: heatingorsystemtypeid, dtype: int64

In [33]:
fullset2016_df.loc[fullset2016_df.heatingorsystemtypeid.isnull(),'heatingorsystemtypeid'] = 2

The number of garages and total garage area are related.

'garagecarcnt'	 Total number of garages on the lot including an attached garage
'garagetotalsqft'	 Total number of square feet of all garages on lot including an attached garage

Treat the NaN values of these 2 parameters as 0 meaning no garage and of course garage area is 0.

In [34]:
print(fullset2016_df.garagecarcnt.isnull().sum())
print(fullset2016_df.garagetotalsqft.isnull().sum())

60338
60338

In [35]:
fullset2016_df.loc[fullset2016_df.garagecarcnt.isnull(),'garagecarcnt'] = 0

In [36]:
fullset2016_df.loc[fullset2016_df.garagetotalsqft.isnull(),'garagetotalsqft'] = 0

Check that 26668 transactions are with air-conditioning id 1 - Central. Replace the NaN to 1.

In [37]:
fullset2016_df['airconditioningtypeid'].value_counts()

1.0     26668
13.0     1833
5.0       215
11.0       63
9.0         1
3.0         1
Name: airconditioningtypeid, dtype: int64

In [38]:
fullset2016_df.loc[fullset2016_df.airconditioningtypeid.isnull(),'airconditioningtypeid'] = 1

In [39]:
fullset2016_df.loc[fullset2016_df.poolcnt.isnull(),'poolcnt'] = 0

In [40]:
fullset2016_df.loc[(fullset2016_df['poolcnt'] == 0), 'poolsizesum'] = 0

In [41]:
poolsize_mean = fullset2016_df.loc[fullset2016_df['poolcnt'] > 0, 'poolsizesum'].mean()

In [42]:
fullset2016_df.loc[(fullset2016_df['poolcnt'] > 0) & (fullset2016_df['poolsizesum'].isnull()), 'poolsizesum'] = poolsize_mean

In [43]:
columns_to_delete.append('pooltypeid10')

'taxvaluedollarcnt'	The total tax assessed value of the parcel

'structuretaxvaluedollarcnt'	The assessed value of the built structure on the parcel

'landtaxvaluedollarcnt'	The assessed value of the land area of the parcel

Mark the NaN fiels in columns 'taxvaluedollarcnt' and 'landtaxvaluedollarcnt' as 0.  Can observe that structuretaxvaluedollarcnt = taxvaluedollarcnt - landtaxvaluedollarcnt.  Column 'structuretaxvaluedollarcnt' can be deleted because its values can be derived from other columns.

In [44]:
fullset2016_df.loc[fullset2016_df.taxvaluedollarcnt.isnull(),'taxvaluedollarcnt'] = 0

In [45]:
fullset2016_df.loc[fullset2016_df.landtaxvaluedollarcnt.isnull(),'landtaxvaluedollarcnt'] = 0

In [46]:
fullset2016_df.loc[fullset2016_df.structuretaxvaluedollarcnt.isnull(),'structuretaxvaluedollarcnt'] = 0

Below is to prove that all columns of structuretaxvaluedollarcnt follows structuretaxvaluedollarcnt = taxvaluedollarcnt - landtaxvaluedollarcnt

In [47]:
import collections

In [48]:
collections.Counter(list(fullset2016_df.structuretaxvaluedollarcnt - (fullset2016_df.taxvaluedollarcnt - fullset2016_df.landtaxvaluedollarcnt)))

Counter({0.0: 90275})

In [49]:
columns_to_delete.append('structuretaxvaluedollarcnt')

'fireplacecnt':	 Number of fireplaces in a home (if any)
Assume no fire place for those NaN values.

'taxamount'	The total property tax assessed for that assessment year.  Assume 0 for NaN values meaning no tax amount was assessed.

In [50]:
fullset2016_df.loc[fullset2016_df.fireplacecnt.isnull(),'fireplacecnt'] = 0

In [51]:
fullset2016_df.loc[fullset2016_df.taxamount.isnull(),'taxamount'] = 0

In [52]:
fullset2016_df['taxamount'].isnull().values.sum()

0

Check on 'propertycountylandusecode' column with 1 NaN value.

'propertycountylandusecode'	 County land use code i.e. it's zoning at the county level.  It is related to 'longitude' and 'latitude' and 'regionidzip'

In [53]:
fullset2016_df['propertycountylandusecode'].isnull().values.sum()

1

In [54]:
fullset2016_df.loc[fullset2016_df['propertycountylandusecode'].isnull(), ['longitude','latitude','propertycountylandusecode','regionidzip']]

         longitude    latitude propertycountylandusecode  regionidzip
68412 -118068371.0  33939933.0                       NaN      96201.0

Another row with the same values of longitude, latitude and regionidzip.  So assign the same propertycountylandusecode to this NaN value.

In [55]:
fullset2016_df.loc[fullset2016_df['longitude']==-118068371, ['longitude','latitude','propertycountylandusecode','regionidzip']]

         longitude    latitude propertycountylandusecode  regionidzip
32470 -118068371.0  33939933.0                      010C      96201.0
68412 -118068371.0  33939933.0                       NaN      96201.0

In [56]:
fullset2016_df.loc[fullset2016_df.propertycountylandusecode.isnull(),'propertycountylandusecode'] = '010C'

Now deal with measurable numeric columns: 'finishedfloor1squarefeet', 'threequarterbathnbr', 'numberofstories', 'unitcnt', 'lotsizesquarefeet', 'yearbuilt', 'calculatedfinishedsquarefeet'.  The aim is to fill in the NaN values with its median value.

In [57]:
for item in ['finishedfloor1squarefeet', 'threequarterbathnbr', 'numberofstories', 'unitcnt', 'lotsizesquarefeet', 'yearbuilt', 'calculatedfinishedsquarefeet']:
    fullset2016_df.loc[fullset2016_df[item].isnull(),item] = int(fullset2016_df[item].median())

Now check the colmuns of full data set to see the % of NaN. Delete the columns with higher than 97% of NaN values

In [58]:
column_analysis_df = pd.concat([100*(fullset2016_df.isnull().sum(axis=0)/fullset2016_df.shape[0]), fullset2016_df.dtypes], axis=1).reset_index()
column_analysis_df.columns = ['Column_name', 'Percentage_of_NaN', 'Column_Type']
column_analysis_df = column_analysis_df.set_index('Column_name').sort_values('Percentage_of_NaN', ascending=False)

In [59]:
column_analysis_df

                              Percentage_of_NaN     Column_Type
Column_name
buildingclasstypeid                   99.982276         float64
finishedsquarefeet13                  99.963445         float64
storytypeid                           99.952368         float64
basementsqft                          99.952368         float64
yardbuildingsqft26                    99.894766         float64
fireplaceflag                         99.754085          object
architecturalstyletypeid              99.710883         float64
typeconstructiontypeid                99.668790         float64
finishedsquarefeet6                   99.533647         float64
decktypeid                            99.271116         float64
pooltypeid10                          98.713930         float64
pooltypeid2                           98.666297         float64
taxdelinquencyflag                    98.024924          object
taxdelinquencyyear                    98.024924         float64
hashottuborspa                        97.380227          object
yardbuildingsqft17                    97.068956         float64
finishedsquarefeet15                  96.052063         float64
finishedsquarefeet50                  92.405428         float64
pooltypeid7                           81.504292         float64
regionidneighborhood                  60.108557         float64
buildingqualitytypeid                 36.456383         float64
propertyzoningdesc                    35.405151          object
finishedsquarefeet12                   5.183052         float64
regionidcity                           1.997231         float64
calculatedbathnbr                      1.309333         float64
fullbathcnt                            1.309333         float64
censustractandblock                    0.670174          object
regionidzip                            0.038770         float64
unitcnt                                0.000000         float64
yearbuilt                              0.000000         float64
threequarterbathnbr                    0.000000         float64
numberofstories                        0.000000         float64
regionidcounty                         0.000000         float64
taxvaluedollarcnt                      0.000000         float64
assessmentyear                         0.000000         float64
roomcnt                                0.000000         float64
landtaxvaluedollarcnt                  0.000000         float64
taxamount                              0.000000         float64
structuretaxvaluedollarcnt             0.000000         float64
parcelid                               0.000000           int64
rawcensustractandblock                 0.000000          object
propertylandusetypeid                  0.000000         float64
transactiondate                        0.000000  datetime64[ns]
airconditioningtypeid                  0.000000         float64
bathroomcnt                            0.000000         float64
bedroomcnt                             0.000000         float64
finishedfloor1squarefeet               0.000000         float64
calculatedfinishedsquarefeet           0.000000         float64
fips                                   0.000000         float64
fireplacecnt                           0.000000         float64
garagecarcnt                           0.000000         float64
garagetotalsqft                        0.000000         float64
heatingorsystemtypeid                  0.000000         float64
latitude                               0.000000         float64
longitude                              0.000000         float64
lotsizesquarefeet                      0.000000         float64
poolcnt                                0.000000         float64
logerror                               0.000000         float64
propertycountylandusecode              0.000000          object
poolsizesum                            0.000000         float64

Below are the columns with NaN % greater than 97% which will be deleted.

In [60]:
columns_to_delete.append('buildingclasstypeid')
columns_to_delete.append('basementsqft')
columns_to_delete.append('storytypeid')
columns_to_delete.append('yardbuildingsqft26')
columns_to_delete.append('fireplaceflag')
columns_to_delete.append('architecturalstyletypeid')
columns_to_delete.append('typeconstructiontypeid')
columns_to_delete.append('decktypeid')
columns_to_delete.append('pooltypeid2')
columns_to_delete.append('taxdelinquencyflag')
columns_to_delete.append('taxdelinquencyyear')
columns_to_delete.append('hashottuborspa')
columns_to_delete.append('yardbuildingsqft17')

In [61]:
columns_to_delete

['finishedsquarefeet12',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet6',
 'finishedsquarefeet50',
 'calculatedbathnbr',
 'fullbathcnt',
 'pooltypeid10',
 'structuretaxvaluedollarcnt',
 'buildingclasstypeid',
 'basementsqft',
 'storytypeid',
 'yardbuildingsqft26',
 'fireplaceflag',
 'architecturalstyletypeid',
 'typeconstructiontypeid',
 'decktypeid',
 'pooltypeid2',
 'taxdelinquencyflag',
 'taxdelinquencyyear',
 'hashottuborspa',
 'yardbuildingsqft17']

In [62]:
fullset2016_df = fullset2016_df.drop(columns_to_delete, 1)

Check the columns again.  All NaN % greater than 97% are deleted.

In [63]:
column_analysis_df = pd.concat([100*(fullset2016_df.isnull().sum(axis=0)/fullset2016_df.shape[0]), fullset2016_df.dtypes], axis=1).reset_index()
column_analysis_df.columns = ['Column_name', 'Percentage_of_NaN', 'Column_Type']
column_analysis_df = column_analysis_df.set_index('Column_name').sort_values('Percentage_of_NaN', ascending=False)

In [64]:
column_analysis_df

                              Percentage_of_NaN     Column_Type
Column_name
pooltypeid7                           81.504292         float64
regionidneighborhood                  60.108557         float64
buildingqualitytypeid                 36.456383         float64
propertyzoningdesc                    35.405151          object
regionidcity                           1.997231         float64
censustractandblock                    0.670174          object
regionidzip                            0.038770         float64
bedroomcnt                             0.000000         float64
finishedfloor1squarefeet               0.000000         float64
taxamount                              0.000000         float64
landtaxvaluedollarcnt                  0.000000         float64
assessmentyear                         0.000000         float64
taxvaluedollarcnt                      0.000000         float64
numberofstories                        0.000000         float64
yearbuilt                              0.000000         float64
unitcnt                                0.000000         float64
threequarterbathnbr                    0.000000         float64
roomcnt                                0.000000         float64
transactiondate                        0.000000  datetime64[ns]
regionidcounty                         0.000000         float64
airconditioningtypeid                  0.000000         float64
rawcensustractandblock                 0.000000          object
bathroomcnt                            0.000000         float64
propertylandusetypeid                  0.000000         float64
propertycountylandusecode              0.000000          object
logerror                               0.000000         float64
poolsizesum                            0.000000         float64
poolcnt                                0.000000         float64
lotsizesquarefeet                      0.000000         float64
longitude                              0.000000         float64
latitude                               0.000000         float64
heatingorsystemtypeid                  0.000000         float64
garagetotalsqft                        0.000000         float64
garagecarcnt                           0.000000         float64
fireplacecnt                           0.000000         float64
fips                                   0.000000         float64
calculatedfinishedsquarefeet           0.000000         float64
parcelid                               0.000000           int64

Not yet finish..... Data wrangling to be continued......

In [65]:
area_df = fullset2016_df[['longitude','latitude','propertycountylandusecode','regionidzip']]

In [66]:
area_df

         longitude    latitude propertycountylandusecode  regionidzip
0     -118488536.0  34280990.0                      0100      96370.0
1     -117677556.0  33668120.0                         1      96962.0
2     -118175032.0  34136312.0                      0100      96293.0
3     -118309000.0  33755800.0                      010C      96222.0
4     -117700234.0  33485643.0                       122      96961.0
5     -118402768.0  33870089.0                      0100      96109.0
6     -118212720.0  33899475.0                      0100      96091.0
7     -119165589.0  34207204.0                      1129      97101.0
8     -117678000.0  33549600.0                        34      96987.0
9     -117742000.0  33612700.0                        34      96963.0
10    -118477995.0  34164671.0                      0100      96426.0
11    -118547322.0  34072220.0                      0100      96120.0
12    -118339183.0  34189804.0                      0100      96437.0
13    -117844000.0  33670900.0                         1      96947.0
14    -117914140.0  33913333.0                       122      97035.0
15    -117950591.0  33676787.0                       122      96964.0
16    -118757591.0  34176362.0                      1128      96393.0
17    -118123000.0  33776400.0                      010E      96238.0
18    -118021281.0  33770148.0                       122      96990.0
19    -118528595.0  34164085.0                      0100      96379.0
20    -118188672.0  33858594.0                      0100      96239.0
21    -117838936.0  33754729.0                       122      97001.0
22    -118025454.0  33784649.0                       122      97052.0
23    -118396647.0  33969828.0                      0104      96026.0
24    -117921597.0  33773334.0                       122      97050.0
25    -118009610.0  33901561.0                      0100      96190.0
26    -118154873.0  34598115.0                      0100      97329.0
27    -117722058.0  33486586.0                        34      96961.0
28    -118522000.0  34167800.0                      010E      96349.0
29    -118141000.0  33780400.0                      010C      96238.0
...            ...         ...                       ...          ...
90245 -118611010.0  34167062.0                      0100      96387.0
90246 -118188000.0  33766300.0                      01HC      96236.0
90247 -118329294.0  34010594.0                      0100      95989.0
90248 -117763393.0  33719815.0                       122      96954.0
90249 -118449813.0  34675820.0                      0100      97316.0
90250 -117994884.0  33737795.0                       122      96965.0
90251 -118095015.0  33898289.0                      0100      96193.0
90252 -118095993.0  33891465.0                      010C      96193.0
90253 -118102000.0  34692600.0                      010C      97318.0
90254 -118099813.0  33892081.0                      0100      96193.0
90255 -118211297.0  34680299.0                      0100      97319.0
90256 -117763462.0  33703455.0                       122      96954.0
90257 -118643000.0  34151800.0                      010C      96337.0
90258 -118322000.0  34060800.0                      010C      95986.0
90259 -118328000.0  34079800.0                      010C      95985.0
90260 -118360000.0  33897200.0                      010C      96111.0
90261 -118303458.0  34003038.0                      0100      96043.0
90262 -118455969.0  34311978.0                      0100      96368.0
90263 -118252000.0  34155200.0                      010C      96325.0
90264 -118695925.0  34036709.0                      010C      96116.0
90265 -118260000.0  34154600.0                      010C      96322.0
90266 -118241735.0  33898700.0                      0200      96090.0
90267 -119180737.0  34268916.0                      1111      97084.0
90268 -118240900.0  33916972.0                      0100      96092.0
90269 -117875148.0  34098870.0                      0100      96473.0
90270 -118562000.0  34203000.0                      010C      96364.0
90271 -118224849.0  34198744.0                      0100      96327.0
90272 -118025537.0  34075655.0                      0200      96478.0
90273 -118367000.0  33963900.0                      010C      96133.0
90274 -118219093.0  33838933.0                      0100      96244.0

[90275 rows x 4 columns]

In [67]:
fullset2016_df['regionidzip'].isnull().values.sum()

35

In [68]:
fullset2016_df.loc[fullset2016_df['regionidzip'].isnull(), ['longitude','latitude','propertycountylandusecode','regionidcounty']].sort_values('propertycountylandusecode')

         longitude    latitude propertycountylandusecode  regionidcounty
68625 -117714163.0  33693227.0                         1          1286.0
74316 -119066755.0  34753473.0                      1110          2061.0
74302 -119066755.0  34753473.0                      1110          2061.0
16783 -119311000.0  34402400.0                      1110          2061.0
61488 -119228656.0  34281197.0                      1110          2061.0
1408  -119027964.0  34211295.0                      1111          2061.0
71622 -119027964.0  34211295.0                      1111          2061.0
66016 -119027964.0  34211295.0                      1111          2061.0
49534 -119027964.0  34211295.0                      1111          2061.0
48635 -119027964.0  34211295.0                      1111          2061.0
47432 -119027964.0  34211295.0                      1111          2061.0
40648 -119027964.0  34211295.0                      1111          2061.0
38752 -119027964.0  34211295.0                      1111          2061.0
32423 -119027964.0  34211295.0                      1111          2061.0
39616 -119027964.0  34211295.0                      1111          2061.0
29274 -119027964.0  34211295.0                      1111          2061.0
6690  -119027964.0  34211295.0                      1111          2061.0
8152  -119027964.0  34211295.0                      1111          2061.0
16588 -118810878.0  34194656.0                      1111          2061.0
21370 -119020965.0  34207894.0                      1111          2061.0
31163 -119027964.0  34211295.0                      1111          2061.0
26944 -119027964.0  34211295.0                      1111          2061.0
24446 -119197010.0  34265514.0                      1117          2061.0
78328 -119164000.0  34277100.0                      1117          2061.0
60338 -118880000.0  34275300.0                      1129          2061.0
67134 -118774935.0  34281529.0                      1129          2061.0
67880 -118880000.0  34275300.0                      1129          2061.0
39774 -118880000.0  34276000.0                      1129          2061.0
69572 -118880000.0  34277500.0                      1129          2061.0
28875 -118880000.0  34275600.0                      1129          2061.0
28600 -117863201.0  33607441.0                       122          1286.0
89418 -117879000.0  33597700.0                       122          1286.0
27089 -117984000.0  33744100.0                        34          1286.0
13544 -117984000.0  33744100.0                        34          1286.0
24462 -117859000.0  33795000.0                        34          1286.0

In [69]:
fullset2016_df.loc[fullset2016_df['propertycountylandusecode']=='1111', ['regionidzip']]

       regionidzip
74         96383.0
97         97083.0
126        97091.0
191        96351.0
209        96385.0
220        97116.0
252        97116.0
263        97097.0
329        96385.0
372        96385.0
389        96351.0
439        97116.0
440        97089.0
468        96383.0
535        97116.0
574        97099.0
608        97091.0
630        96351.0
646        97083.0
656        97097.0
684        96383.0
692        96383.0
801        97084.0
844        96383.0
895        97106.0
926        97116.0
930        97118.0
1025       96383.0
1037       96383.0
1065       97091.0
...            ...
89417      97106.0
89448      97091.0
89465      96393.0
89468      96351.0
89509      96383.0
89606      96393.0
89623      97097.0
89654      96384.0
89660      97107.0
89706      97106.0
89807      97101.0
89831      97101.0
89870      97116.0
89889      97118.0
89891      97083.0
89965      96383.0
90013      97101.0
90016      97116.0
90026      97101.0
90028      97104.0
90035      97084.0
90059      97094.0
90111      97118.0
90147      97089.0
90158      97101.0
90182      97116.0
90215      97101.0
90227      97118.0
90243      97104.0
90267      97084.0

[3883 rows x 1 columns]

In [70]:
fullset2016_df.loc[fullset2016_df.rawcensustractandblock.apply(len)==13,['censustractandblock','rawcensustractandblock']]

      censustractandblock rawcensustractandblock
126                   NaN          061110056.003
174        60590116016005          060590112.004
382                   NaN          060371918.103
858                   NaN          060374340.033
934                   NaN          060374810.021
1228       60590015061008          060590015.061
1408                  NaN          061110056.003
1478       60372964011008          060372964.011
1764                  NaN          060379102.061
1900                  NaN          060374029.021
2297                  NaN          060379800.041
2617                  NaN          060379200.452
2714                  NaN          060379800.041
3094       60379200431021          060379200.431
3280                  NaN          060379102.061
3339                  NaN          060374029.021
3648                  NaN          060379107.162
4054                  NaN          060379107.162
4338                  NaN          061110056.003
4414                  NaN          060374029.021
4451                  NaN          060379102.061
4522                  NaN          061110076.101
5423                  NaN          060371278.041
5464       60374043014005          060374006.042
5715                  NaN          060590111.012
6125       60374043014005          060374006.042
6543                  NaN          060371918.103
6572                  NaN          060371918.103
6690                  NaN          061110056.003
6737                  NaN          060379102.061
...                   ...                    ...
73813                 NaN          060590320.612
74054                 NaN          060590015.061
74302      61110001001034          061110001.001
74316      61110001001034          061110001.001
74525                 NaN          060590524.173
74992      60375028022002          060375028.022
75631                 NaN          060590012.023
76061                 NaN          060590111.012
76594                 NaN          061110018.002
76853      60590218152019          060590218.153
77724      60590015061008          060590015.061
78567                 NaN          060590874.011
79698      60371061131005          060371061.131
80672      60590741082010          060590741.073
80673                 NaN          060590524.272
80674                 NaN          060590524.272
80971      60590012011001          060590012.011
81630                 NaN          060590320.612
81899                 NaN          060374002.051
82937                 NaN          060590218.222
84910      60590886011004          060590886.011
85234      60377010005016          060377010.005
85261                 NaN          060590320.612
85581      60379108041060          060379108.041
86677      61110036093032          061110036.093
87055                 NaN          060374060.001
87709      60375538013002          060375538.013
88774      60376027004017          060376024.041
89274      60371082021038          060371082.021
89295      60374017043014          060374021.021

[281 rows x 2 columns]

In [71]:
fullset2016_df.loc[fullset2016_df.rawcensustractandblock=='060379800.041',['censustractandblock','rawcensustractandblock']]

     censustractandblock rawcensustractandblock
2297                 NaN          060379800.041
2714                 NaN          060379800.041

In [72]:
append_series = []
censustractandblock_filter_df = fullset2016_df.loc[fullset2016_df.censustractandblock.isnull(),['censustractandblock','rawcensustractandblock']]
for item in censustractandblock_filter_df.loc[:,'rawcensustractandblock']:
    item = item[1:9]+item[10:]
    if len(item) < 14:
        item = item + '000'
    append_series.append(item)
append_series_df = pd.DataFrame(append_series)

In [73]:
censustractandblock_filter_df.reset_index()

     index censustractandblock rawcensustractandblock
0        1                 NaN       060590524.222024
1       65                 NaN       060371973.001005
2      126                 NaN          061110056.003
3      231                 NaN       060374045.031029
4      303                 NaN       060374080.051007
5      382                 NaN          060371918.103
6      858                 NaN          060374340.033
7      934                 NaN          060374810.021
8     1200                 NaN       060371437.001012
9     1220                 NaN       060379201.081002
10    1222                 NaN       060371943.003001
11    1408                 NaN          061110056.003
12    1764                 NaN          060379102.061
13    1900                 NaN          060374029.021
14    1904                 NaN       060373008.001002
15    1991                 NaN       060371973.001005
16    2297                 NaN          060379800.041
17    2397                 NaN       060379108.091032
18    2405                 NaN       060372671.003001
19    2467                 NaN       060379201.071002
20    2601                 NaN       060374004.032019
21    2617                 NaN          060379200.452
22    2714                 NaN          060379800.041
23    2796                 NaN       060379201.081002
24    2797                 NaN       060379201.081002
25    2994                 NaN       060379200.152002
26    3011                 NaN       060371064.033002
27    3074                 NaN       061110050.041076
28    3118                 NaN       060379201.071002
29    3280                 NaN          060379102.061
..     ...                 ...                    ...
575  75044                 NaN       060590013.031005
576  75631                 NaN          060590012.023
577  75984                 NaN       060590626.213009
578  76061                 NaN          060590111.012
579  76594                 NaN          061110018.002
580  77099                 NaN       060590626.371009
581  78567                 NaN          060590874.011
582  79637                 NaN       060590320.612002
583  79824                 NaN       060379102.061075
584  80673                 NaN          060590524.272
585  80674                 NaN          060590524.272
586  81206                 NaN       060379200.131003
587  81600                 NaN       060590994.171033
588  81630                 NaN          060590320.612
589  81899                 NaN          060374002.051
590  82526                 NaN       060371942.002020
591  82813                 NaN       060379200.131003
592  82937                 NaN          060590218.222
593  83181                 NaN       060374084.012018
594  85261                 NaN          060590320.612
595  85418                 NaN       060590421.071009
596  85499                 NaN       060376023.023017
597  86403                 NaN       060375005.001041
598  86592                 NaN       060590320.612002
599  87055                 NaN          060374060.001
600  87197                 NaN       060372963.001000
601  87995                 NaN       060375542.041003
602  88506                 NaN       060379200.321003
603  88507                 NaN       060379201.071018
604  88655                 NaN       060590995.084023

[605 rows x 3 columns]

In [74]:
censustractandblock_filter_df['censustractandblock'] = append_series_df

In [75]:
censustractandblock_filter_df

      censustractandblock rawcensustractandblock
1          60371973001005       060590524.222024
65         60371918103000       060371973.001005
126        61110056003000          061110056.003
231        60590524262052       060374045.031029
303        60379201081000       060374080.051007
382        60379010043000          060371918.103
858                   NaN          060374340.033
934                   NaN          060374810.021
1200                  NaN       060371437.001012
1220                  NaN       060379201.081002
1222                  NaN       060371943.003001
1408                  NaN          061110056.003
1764                  NaN          060379102.061
1900                  NaN          060374029.021
1904                  NaN       060373008.001002
1991                  NaN       060371973.001005
2297                  NaN          060379800.041
2397                  NaN       060379108.091032
2405                  NaN       060372671.003001
2467                  NaN       060379201.071002
2601                  NaN       060374004.032019
2617                  NaN          060379200.452
2714                  NaN          060379800.041
2796                  NaN       060379201.081002
2797                  NaN       060379201.081002
2994                  NaN       060379200.152002
3011                  NaN       060371064.033002
3074                  NaN       061110050.041076
3118                  NaN       060379201.071002
3280                  NaN          060379102.061
...                   ...                    ...
75044                 NaN       060590013.031005
75631                 NaN          060590012.023
75984                 NaN       060590626.213009
76061                 NaN          060590111.012
76594                 NaN          061110018.002
77099                 NaN       060590626.371009
78567                 NaN          060590874.011
79637                 NaN       060590320.612002
79824                 NaN       060379102.061075
80673                 NaN          060590524.272
80674                 NaN          060590524.272
81206                 NaN       060379200.131003
81600                 NaN       060590994.171033
81630                 NaN          060590320.612
81899                 NaN          060374002.051
82526                 NaN       060371942.002020
82813                 NaN       060379200.131003
82937                 NaN          060590218.222
83181                 NaN       060374084.012018
85261                 NaN          060590320.612
85418                 NaN       060590421.071009
85499                 NaN       060376023.023017
86403                 NaN       060375005.001041
86592                 NaN       060590320.612002
87055                 NaN          060374060.001
87197                 NaN       060372963.001000
87995                 NaN       060375542.041003
88506                 NaN       060379200.321003
88507                 NaN       060379201.071018
88655                 NaN       060590995.084023

[605 rows x 2 columns]